<!-- <!DOCTYPE html>
<html>
<head>
	<title>All Products | Semi Restful Route Demo</title>
	<style>
		div.ct {
			width: 970px;
			height: 600px;
			vertical-align: top;
			margin: 10px auto;
		}

		h1 {
			width: 40px;
			height: 25px;
		}

		h3 {
			width: 40px;
			height: 20px;
		}
	</style>
</head>
<body>
	<div class="ct">
		<h1>Product</h1> -->  <!-- add product id or name here -->
		<!-- <h3>Name:</h3>  --><!-- add product name here -->
		<!-- <h3>Description:</h3> --> <!-- add product description here -->
		<!-- <h3>Price:</h3>  --><!-- add product price here -->
		<!-- <br>
		<br>
		<p><a href="{% url 'edit' id=1 %}">Edit</a> | <a href="{% url 'edit' id =1 %}">Back</a></p>
	</div>

</body>
</html> -->

<h2>Show product # {{ product.id }}</h2>

<button class="edit"  id = ""></button>
